@import url(https://fonts.googleapis.com/css?family=Poiret+One);
$font-stack:    Helvetica, sans-serif;

body {
	background: orange;
	font-family: $font-stack;
	font-size: 15px;
}

h1 {
	font-size: 50px;
	font-family: 'Poiret One', cursive;
}

#mountain-container {
	text-align: center;

}

#mountain-text {
	border: solid 1px black;
	position: relative;
	width: 30%;
	margin: 0 auto;
	padding: 7px 9px 6px 10px;
}

#mountain-text:hover {
 background: #ffffff;
 text-decoration: none;
}