<!DOCTYPE html>
<html>
<head>
	<title>Mountain Data</title>
</head>
<body>
	<div>
	
	</div>
	<div id="mountain-container" class="grid-full">
		<h1>CSF-TA Mountain Data</h1>
		<% @mountains.each do |mountain| %>
		<div id="mountain-text" class="grid-4-8">
			<h3 ><%= mountain.name %></h3>
			<p>ID: 00<%= mountain.id %></p>
			<p>Continent: <%= mountain.continent %></p>
			<p>Elevation (meters): <%= mountain.elevation %></p>
		</div>
		<% end %>
	</div>
</body>
</html>